<md-toolbar ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleLeft()" hide-gt-sm aria-label="Menu" class="md-icon-button material-icons">
      menu
    </md-button>
    <h3>
      Lista de contratos
    </h3>
    <span flex></span>

    <md-button hide show-gt-sm aria-label="Pesquisar" ng-click="showSearch = !showSearch" class="md-icon-button material-icons">
      search
      <md-tooltip> Pesquisar </md-tooltip>
    </md-button>

    <md-menu>
      <md-button hide show-gt-sm aria-label="Reordenar lista" ng-click="openMenuReordenacao($mdOpenMenu, $event)" class="md-icon-button  material-icons">
        <span style="padding-left: 12px;">filter_listz</span>
        <md-tooltip> Reordenar lista </md-tooltip>
      </md-button>
      <md-menu-content ng-mouseleave="$mdMenu.close()" ng-controller="ListaController">
        <label class="md-padding"><strong>Ordenar por:</strong></label>
        <md-menu-item ng-repeat="opcao in opcoesMenu | orderBy: 'nome'">
          <md-button ng-bind="opcao.nome" aria-label="opcao.nome" ng-click="ordenarListaPor(opcao.order)"></md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button hide show-gt-sm aria-label="Adicionar contrato" ng-click="showListBottomSheet($event)" class="md-icon-button material-icons">
      add
      <md-tooltip> Adicionar </md-tooltip>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-hue-3" ng-show="showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="showSearch = !showSearch" aria-label="Back" class="md-icon-button  material-icons">
      arrow_back
    </md-button>
    <md-input-container md-theme="input" flex ng-controller="ListaController" class="navbar-search">
      <label>&nbsp;</label>
      <input ng-model="filtroPesquisa" placeholder="Pesquisar" autofocus autocomplete="false">
    </md-input-container>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" aria-label="Back" class="md-icon-button material-icons">
        arrow_back
      </md-button>
      <span>  Menu</span>
    </h1>
  </md-toolbar>

  <md-content layout-margin>
    <p>This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.</p>
    <md-button class="md-accent">
      Close this Sidenav
    </md-button>
  </md-content>

</md-sidenav>