<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
  <ng-md-icon icon="add"></ng-md-icon>
</md-button>
<md-toolbar ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu" class="md-fab md-mini material-icons">
      apps
    </md-button>
    <h3>
      Lista de contratos
    </h3>
    <span flex></span>
    <md-button aria-label="Search" ng-click="showSearch = !showSearch" class="md-fab md-mini material-icons">
      search
    </md-button>
    <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)" class="md-fab md-mini material-icons">
      add
    </md-button>
  </div>
</md-toolbar>
<md-toolbar class="md-hue-1" ng-show="showSearch">
  <div class="md-toolbar-tools">
    <md-button ng-click="showSearch = !showSearch" aria-label="Back" class="md-fab md-mini material-icons">
      arrow_back
    </md-button>
    <md-input-container md-theme="input" flex>
      <label>&nbsp;</label>
      <input ng-model="search.who" placeholder="Pesquisar">
    </md-input-container>
  </div>
</md-toolbar>