<md-dialog aria-label="Dados do contrato">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Contrato: <span ng-bind="ct.codigo"></span></h2>
        <span flex></span>
        <md-button class="md-icon-button material-icons" ng-click="cancel()">
          clear
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="edicaoForm">

          <div layout="column">
            <md-input-container>
              <label>Código</label>
              <input ng-model="ct.codigo" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Data Acordo comercial</label>
              <md-datepicker ng-model="ct.dataAcordo" name="dataAcordo" md-max-date="dataAtual" placeholder="Data Acordo comercial" data-ng-disabled="!edicao"></md-datepicker>
              <div ng-messages="edicaoForm.dataAcordo.$error">
                <div ng-message="valid">Insira uma data valida!</div>
                <div ng-message="required">Este campo é obrigatório!</div>
                <div ng-message="maxdate">A data não pode ser superior a data atual</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label>Natureza</label>
              <input ng-model="ct.natureza" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Comprador</label>
              <input ng-model="ct.comprador" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Vendedor</label>
              <input ng-model="ct.vendedor" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Energia referência</label>
              <input ng-model="ct.energiaReferencia" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Energia entregue</label>
              <input ng-model="ct.energiaEntregue" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Status aprovação</label>
              <input ng-model="ct.status" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Modelo</label>
              <input ng-model="ct.modelo" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Preço base contratado</label>
              <input ng-model="ct.preco" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Submercado</label>
              <input ng-model="ct.submercado" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Início fornecimento</label>
              <input ng-model="ct.inicioFornecimento" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Fim fornecimento</label>
              <input ng-model="ct.fimFornecimento" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Início vigência</label>
              <input ng-model="ct.inicioVigencia" data-ng-disabled="!edicao">
            </md-input-container>

            <md-input-container>
              <label>Fim vigência</label>
              <input ng-model="ct.fimVigencia" data-ng-disabled="!edicao">
            </md-input-container>
          </div>

        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button md-autofocus ng-click="edicao = true" ng-hide="edicao">
        Editar
      </md-button>
      <span flex ng-hide="edicao"></span>
      <md-button ng-click="answer('not useful')" ng-show="edicao" class="md-warn">
        Excluir
      </md-button>
      <span flex ng-show="edicao"></span>
      <md-button ng-click="answer('useful')" ng-show="edicao" class="md-raised md-primary">
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>