<md-dialog aria-label="Dados do contrato">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Contrato: <span ng-bind="ct.codigo"></span></h2>
        <span flex></span>
        <md-button class="md-icon-button material-icons" ng-click="cancel()">
          clear
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="edicaoForm">

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Código</label>
              <input ng-model="ct.codigo" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Data Acordo comercial</label>
              <md-datepicker ng-model="ct.dataAcordo" placeholder="Data Acordo comercial" disabled="!edicao"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Natureza</label>
              <input ng-model="ct.natureza" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Comprador</label>
              <input ng-model="ct.comprador" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Vendedor</label>
              <input ng-model="ct.vendedor" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Energia referência</label>
              <input ng-model="ct.energiaReferencia" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Energia entregue</label>
              <input ng-model="ct.energiaEntregue" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Status aprovação</label>
              <input ng-model="ct.status" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Modelo</label>
              <input ng-model="ct.modelo" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Preço base contratado</label>
              <input ng-model="ct.preco" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Submercado</label>
              <input ng-model="ct.submercado" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Início fornecimento</label>
              <input ng-model="ct.inicioFornecimento" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Fim fornecimento</label>
              <input ng-model="ct.fimFornecimento" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Início vigência</label>
              <input ng-model="ct.inicioVigencia" disabled="!edicao">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Fim vigência</label>
              <input ng-model="ct.fimVigencia" disabled="!edicao">
            </md-input-container>
          </div>

        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button md-autofocus ng-click="edicao = true">
        Editar
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')" ng-show="edicao" class="md-warn">
        Excluir
      </md-button>
      <md-button ng-click="answer('useful')" ng-show="edicao" class="md-raised md-primary">
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>